/**
 * Project - Firemap
 */

.firemap {
  .usage__inner {
    .wp-block-gallery {
      .wp-block-image {
        .wp-element-caption {
          font-size: $h4FontSize;
        }
      }
    }

    .wp-block-buttons {
      .wp-block-button {
        width: 18rem;
      }
    }
  }

  &__section {
    text-align: center;

    h2 {
      display: inline-block;
      border-bottom: 3px solid var(--wp--preset--color--dark);
    }
  }

  &__subSection {
    text-align: left;
  }

  &__sectionSubHeading {
    margin-bottom: space(3);
  }

  &__sectionHeadingIcon {
    width: 9rem;
    padding: 0 space(3);
  }

  &__sectionHeadingLead {
    padding: space(1) 0;
    border-bottom: 3px dashed var(--wp--preset--color--dark);
  }

  &__sectionSubTitle {
    padding: 3rem 2.25rem;
    border: 3px solid var(--wp--preset--color--dark);
    font-weight: 700;
  }

  &__sectionDataValues {
    list-style-type: none;
    padding-right: space(4);
  }

  &__sectionDataItem {
    display: inline-block;
    width: 3rem;
    font-weight: 700;
  }

  &__sectionDataItemValues {
    color: var(--wp--preset--color--primary);
  }

  &__sectionDataSummary {
    padding-top: space(2);
    padding-bottom: space(2);
    font-weight: 700;
  }

  &__sectionContent {
    margin: space(4) auto;
  }
}
