// Typography

// Small (行間、字間を拡げる)
$smallFontSize:        percentage(7 / 8);
$smallLineHeight:      var(--wp--custom--line-height--large);
$smallLetterSpacing:   0.04rem;


// リンク文字の装飾
$linkColor:            var(--wp--preset--color--medium-dark);
$linkHoverColor:       var(--wp--preset--color--primary);
$linkDecoration:       none;
$linkHoverDecoration:  underline dotted;
