/**
 * Layout - Footer
 */

.footer {
  &__inner {
    padding: space(5);
    text-align: center;
  }

  &__illust {
    margin-bottom: space(4);
    
    img {
      width: 18rem;
    }

    figcaption {
      caption-side: top !important;
      letter-spacing: 0.5em;
    }
  }
}
