/**
 * Layout - Main
 */

.main {
  &__container {
    @extend %__containerLg;
  }

  &__content {
    @include col(6, "md", true);

    & > .postItem {
      margin-bottom: space(3);
      padding: clamp(0.75rem, 2%, 1.5rem) 1.5rem;
      border-radius: 1rem;
      background-color: $bodyBg;
    }
  }

  &__sidebar {
    @include col(3, "md");

    & > .sidebar {
      margin-bottom: space(3);
      padding: clamp(0.75rem, 2%, 1.5rem) 1.5rem;
      border-radius: 1rem;
      background-color: $bodyBg;
    }

  }
}
