<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main"} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-intro","tagName":"section","className":"intro"} /-->

<!-- wp:template-part {"slug":"section-topics","tagName":"section","className":"topics"} /-->

<!-- wp:template-part {"slug":"section-firelog","tagName":"section","className":"firelog"} /-->

<!-- wp:template-part {"slug":"section-firemap","tagName":"section","className":"firemap"} /-->

<!-- wp:template-part {"slug":"section-about","tagName":"section","className":"about"} /-->

<!-- wp:template-part {"slug":"section-contact","tagName":"section","className":"contact"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->