<!-- wp:group {"style":{"spacing":{"padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}},"backgroundColor":"light"} -->
<div class="wp-block-group has-light-background-color has-background" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><!-- wp:template-part {"slug":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"className":"breadcrumb","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group breadcrumb" style="padding-top:2rem;padding-bottom:2rem"><!-- wp:group {"align":"wide","className":"breadcrumb__container","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group alignwide breadcrumb__container"><!-- wp:site-title {"level":2,"className":"breadcrumb__item","fontSize":"small"} /-->

<!-- wp:heading {"level":3,"className":"breadcrumb__item","fontSize":"small"} -->
<h3 class="breadcrumb__item has-small-font-size" id="firelog"><a href="/firelog/">firelog</a></h3>
<!-- /wp:heading -->

<!-- wp:post-title {"level":4,"className":"breadcrumb__item --current","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container","layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","verticalAlignment":"top"}} -->
<div class="wp-block-group alignwide main__container"><!-- wp:group {"className":"main__content","layout":{"type":"constrained","contentSize":"48rem"}} -->
<div class="wp-block-group main__content"><!-- wp:group {"className":"postItem","layout":{"type":"default"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"className":"postItem__heading"} /-->

<!-- wp:post-content {"className":"postItem__content"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"main__sidebar","layout":{"type":"constrained","contentSize":"48rem"}} -->
<div class="wp-block-group main__sidebar"><!-- wp:template-part {"slug":"sidebar","tagName":"aside","className":"sidebar"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /--></div>
<!-- /wp:group -->